#container{
    border: 1px solid black;
    width: fit-content;
    margin: 10px auto;
    border-radius: 5px;

}
.field{
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px;
    width: 900px;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1502134249126-9f3755a50d78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#ball{
    /*fixed*/
    border: 1px solid blue;
    border-radius: 50%;
    background-color: rgb(76, 189, 189); 
    position: relative;
    background-size: cover;
    transform: rotate(10deg);

    /*variable*/
    width: 150px;
    height: 150px;
    background-image: url("");
    
    /* top: calc(200px - 50px - 2px);
    left: calc(300px - 50px - 2px); */
}

#control{
    /* border: 1px solid red; */
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 0.75rem;
}
