.carts-items-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: space-between;
    overflow-y: auto;
    height: 700px;
    align-items: start;
}
.price{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}
.remove-button{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.carts-total-price-container{
    text-align: center;
    margin-top: 0.5rem;
}

